<table class="table" id=<%= dom_id friend%>>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Insta</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= friend.id%></th>
      <td> <%= friend.first_name %></td>
      <td> <%= friend.last_name %></td>
      <td> <%= friend.email %></td>
      <td> <%= friend.phone %></td>
      <td> <%= friend.insta %></td>
    </tr>
  </tbody>
</table>
